.vscode
.DS_Store
data
depth_adversarial_plots
src/__pycache__
src/*.pyc
models
monodepth2
monodepth2_models
dag/*/__pycache__
dag/*/*.pyc
dag_models
external_src/*/*/__pycache__
perturb/*/__pycache__
perturb_models
pretrained_models
semseg_models
semseg/*/__pycache__
trained_models
training
validation
testing
visuals
visualizations
